In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import os
import boto3
import boto.s3.connection
import sys
from secrets import access_key, secret_access
from io import StringIO

client = boto3.client("s3" , aws_access_key_id= access_key, aws_secret_access_key=secret_access)

In [2]:
#Import a file from bucket
client = boto3.client("s3" , aws_access_key_id= access_key, aws_secret_access_key=secret_access)                 
bucket_name="group2-mans"
object_key= "noshowappointments.csv"
csv_obj= client.get_object(Bucket=bucket_name, Key=object_key)
body=csv_obj["Body"]
csv_string=body.read().decode("utf-8")

In [3]:
#Turn it into dataframe
mans_df=pd.read_csv(StringIO(csv_string), index_col=0)
mans_df

,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
PatientId,,,,,,,,,,,,,
2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [4]:
#df = pd.DataFrame(mans_df)
mans_df.shape

(110527, 13)

In [5]:
#Find columns and their names
mans_df.columns

Index(['AppointmentID', 'Gender', 'ScheduledDay', 'AppointmentDay', 'Age',
       'Neighbourhood', 'Scholarship', 'Hipertension', 'Diabetes',
       'Alcoholism', 'Handcap', 'SMS_received', 'No-show'],
      dtype='object')

In [6]:
#Find data types on each column
mans_df.dtypes

AppointmentID      int64
Gender            object
ScheduledDay      object
AppointmentDay    object
Age                int64
Neighbourhood     object
Scholarship        int64
Hipertension       int64
Diabetes           int64
Alcoholism         int64
Handcap            int64
SMS_received       int64
No-show           object
dtype: object

In [7]:
#Check if AppointmentsID is all unique we can make it index
len(mans_df.AppointmentID.unique())

110527

In [8]:
mans_df.set_index('AppointmentID', inplace = True)

In [9]:
for column in mans_df.columns:
    print(f"Column {column} has {mans_df[column].isnull().sum()} null values")

Column Gender has 0 null values
Column ScheduledDay has 0 null values
Column AppointmentDay has 0 null values
Column Age has 0 null values
Column Neighbourhood has 0 null values
Column Scholarship has 0 null values
Column Hipertension has 0 null values
Column Diabetes has 0 null values
Column Alcoholism has 0 null values
Column Handcap has 0 null values
Column SMS_received has 0 null values
Column No-show has 0 null values

In [10]:
# Creating new column with just the date
mans_df["ScheduledDay"] = pd.to_datetime(mans_df.ScheduledDay)
mans_df["AppointmentDay"] = pd.to_datetime(mans_df.AppointmentDay)

In [11]:
mans_df.dtypes

Gender                         object
ScheduledDay      datetime64[ns, UTC]
AppointmentDay    datetime64[ns, UTC]
Age                             int64
Neighbourhood                  object
Scholarship                     int64
Hipertension                    int64
Diabetes                        int64
Alcoholism                      int64
Handcap                         int64
SMS_received                    int64
No-show                        object
dtype: object

In [12]:
#Appointment days by day name 
#WeekDay= mans_df["AppointmentDay"].dt.day_name()
#Appointment days by day number
WeekDay=mans_df["AppointmentDay"].dt.weekday
mans_df["WeekDay"]=WeekDay
mans_df

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,WeekDay
AppointmentID,,,,,,,,,,,,,
5642903,F,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,1,0,0,0,0,No,4
5642503,M,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,0,0,0,0,No,4
5642549,F,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,0,0,0,0,No,4
5642828,F,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,4
5642494,F,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,1,1,0,0,0,No,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5651768,F,2016-05-03 09:15:35+00:00,2016-06-07 00:00:00+00:00,56,MARIA ORTIZ,0,0,0,0,0,1,No,1
5650093,F,2016-05-03 07:27:33+00:00,2016-06-07 00:00:00+00:00,51,MARIA ORTIZ,0,0,0,0,0,1,No,1
5630692,F,2016-04-27 16:03:52+00:00,2016-06-07 00:00:00+00:00,21,MARIA ORTIZ,0,0,0,0,0,1,No,1
5630323,F,2016-04-27 15:09:23+00:00,2016-06-07 00:00:00+00:00,38,MARIA ORTIZ,0,0,0,0,0,1,No,1
5629448,F,2016-04-27 13:30:56+00:00,2016-06-07 00:00:00+00:00,54,MARIA ORTIZ,0,0,0,0,0,1,No,1

In [13]:
time_delta=mans_df.AppointmentDay.dt.dayofyear-mans_df.ScheduledDay.dt.dayofyear
time_delta

AppointmentID
5642903     0
5642503     0
5642549     0
5642828     0
5642494     0
           ..
5651768    35
5650093    35
5630692    41
5630323    41
5629448    41
Length: 110527, dtype: int64

In [14]:
mans_df["TimeDelta"]=time_delta
mans_df["ScheduledDay"] = mans_df["ScheduledDay"].dt.date
mans_df["AppointmentDay"] = mans_df["AppointmentDay"].dt.date
mans_df.head()

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,WeekDay,TimeDelta
AppointmentID,,,,,,,,,,,,,,
5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,4,0
5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No,4,0
5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No,4,0
5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,4,0
5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No,4,0

In [15]:
mans_df.dtypes

Gender            object
ScheduledDay      object
AppointmentDay    object
Age                int64
Neighbourhood     object
Scholarship        int64
Hipertension       int64
Diabetes           int64
Alcoholism         int64
Handcap            int64
SMS_received       int64
No-show           object
WeekDay            int64
TimeDelta          int64
dtype: object

In [16]:
mans_df['Gender'] = mans_df['Gender'].map({'F': 1, 'M': 0})
mans_df

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,WeekDay,TimeDelta
AppointmentID,,,,,,,,,,,,,,
5642903,1,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,4,0
5642503,0,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No,4,0
5642549,1,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No,4,0
5642828,1,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,4,0
5642494,1,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5651768,1,2016-05-03,2016-06-07,56,MARIA ORTIZ,0,0,0,0,0,1,No,1,35
5650093,1,2016-05-03,2016-06-07,51,MARIA ORTIZ,0,0,0,0,0,1,No,1,35
5630692,1,2016-04-27,2016-06-07,21,MARIA ORTIZ,0,0,0,0,0,1,No,1,41
5630323,1,2016-04-27,2016-06-07,38,MARIA ORTIZ,0,0,0,0,0,1,No,1,41
5629448,1,2016-04-27,2016-06-07,54,MARIA ORTIZ,0,0,0,0,0,1,No,1,41

In [17]:
mans_df['No-show'] = mans_df['No-show'].map({'No': 1, 'Yes': 0})
mans_df

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,WeekDay,TimeDelta
AppointmentID,,,,,,,,,,,,,,
5642903,1,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,1,4,0
5642503,0,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,1,4,0
5642549,1,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,1,4,0
5642828,1,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,1,4,0
5642494,1,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5651768,1,2016-05-03,2016-06-07,56,MARIA ORTIZ,0,0,0,0,0,1,1,1,35
5650093,1,2016-05-03,2016-06-07,51,MARIA ORTIZ,0,0,0,0,0,1,1,1,35
5630692,1,2016-04-27,2016-06-07,21,MARIA ORTIZ,0,0,0,0,0,1,1,1,41
5630323,1,2016-04-27,2016-06-07,38,MARIA ORTIZ,0,0,0,0,0,1,1,1,41
5629448,1,2016-04-27,2016-06-07,54,MARIA ORTIZ,0,0,0,0,0,1,1,1,41

In [18]:
len(mans_df.Neighbourhood.unique())

81

In [19]:
Neighbourhood=mans_df.Neighbourhood.value_counts()
Neighbourhood.head(50)

JARDIM CAMBURI         7717
MARIA ORTIZ            5805
RESISTÊNCIA            4431
JARDIM DA PENHA        3877
ITARARÉ                3514
CENTRO                 3334
TABUAZEIRO             3132
SANTA MARTHA           3131
JESUS DE NAZARETH      2853
BONFIM                 2773
SANTO ANTÔNIO          2746
SANTO ANDRÉ            2571
CARATOÍRA              2565
JABOUR                 2509
SÃO PEDRO              2448
ILHA DO PRÍNCIPE       2266
NOVA PALESTINA         2264
ANDORINHAS             2262
DA PENHA               2217
ROMÃO                  2215
GURIGICA               2018
SÃO JOSÉ               1977
BELA VISTA             1907
MARUÍPE                1902
FORTE SÃO JOÃO         1889
ILHA DE SANTA MARIA    1885
SÃO CRISTÓVÃO          1836
REDENÇÃO               1553
SÃO BENEDITO           1439
JOANA D´ARC            1427
CRUZAMENTO             1398
CONSOLAÇÃO             1376
SANTA TEREZA           1332
PRAIA DO SUÁ           1288
SANTOS DUMONT          1276
ILHA DAS CAIEIRAS      1071
GRANDE VITÓRIA         1071
INHANGUETÁ             1057
PRAIA DO CANTO         1035
BENTO FERREIRA          858
VILA RUBIM              851
DO QUADRO               849
CONQUISTA               849
REPÚBLICA               835
MONTE BELO              824
PARQUE MOSCOSO          802
GOIABEIRAS              700
JUCUTUQUARA             694
FONTE GRANDE            682
MATA DA PRAIA           644
Name: Neighbourhood, dtype: int64

In [20]:
mans_df.to_csv("processeddata.csv",header=True)

In [23]:
#Import a file from bucket
client = boto3.client("s3" , aws_access_key_id= access_key, aws_secret_access_key=secret_access)                 
bucket_name="group2-mans"
object_key= "mean_income_of_neighborhoods.csv"
csv_obj= client.get_object(Bucket=bucket_name, Key=object_key)
body=csv_obj["Body"]
csv_string=body.read().decode("utf-8")

Requirement already satisfied: psycopg2-binary in c:\users\ren\appdata\roaming\python\python38\site-packages (2.8.6)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#Turn it into dataframe
min_df=pd.read_csv(StringIO(csv_string), index_col=0)
min_df.columns

In [ ]:
min_df

In [ ]:
for column in min_df.columns:
    print(f"Column {column} has {min_df[column].isnull().sum()} null values")

In [ ]:
min_df.dtypes

In [ ]:
mans_df.to_csv("nowshow_apps.csv",header=True)
min_df.to_csv("neigh_median_income.csv",header=True)

In [ ]:
from sqlalchemy import create_engine
from config import db_password
db_string = f"postgres://postgres:{db_password}@dataviz.cruszicqidok.us-west-1.rds.amazonaws.com:5432/dataviz"

In [ ]:
engine = create_engine(db_string)
min_df.to_sql(name="Neighbourhood_data", con=engine,)

In [ ]:
mans_df.to_sql(name="Appointments", con=engine)