In [1]:
import tensorflow as tf
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sqlalchemy import create_engine
from config import db_password
import pandas as pd 
from imblearn.metrics import classification_report_imbalanced

## Loading in Data

In [2]:
db_string = f"postgres://postgres:{db_password}@dataviz.cruszicqidok.us-west-1.rds.amazonaws.com:5432/dataviz"
engine = create_engine(db_string)

In [3]:
appointment_data_df = pd.read_sql_table('Appointments',engine)
appointment_data_df.head()

,AppointmentID,PatientId,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,WeekDay,TimeDelta
0,5642903,2.987250e+13,1,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,1,4,0
1,5642503,5.589980e+14,0,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,1,4,0
2,5642549,4.262960e+12,1,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,1,4,0
3,5642828,8.679510e+11,1,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,1,4,0
4,5642494,8.841190e+12,1,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,1,4,0

In [4]:
neighbourhood_data_df = pd.read_sql_table('Neighbourhood_data',engine)
neighbourhood_data_df.head()

         Neighbourhood   Income              Lat,  Long
0            AEROPORTO      600  -20.241510, -40.275436
1           ANDORINHAS      510   20.287241, -40.306451
2      ANTONIO HONORIO      755  -20.258443, -40.298751
3  ARIOVALDO FAVALESSA      510  -20.312391, -40.355819
4       BARRO VERMELHO     2000  -20.292924, -40.296295

## Preprocessing

### Viewing Data

In [5]:
print(f"Appointment date length {len(appointment_data_df)}")
print(f"Neighbourhood date length {len(neighbourhood_data_df)}")

Appointment date length 110527
Neighbourhood date length 81

In [6]:
appointment_data_df.dtypes

AppointmentID              int64
PatientId                float64
Gender                     int64
ScheduledDay      datetime64[ns]
AppointmentDay    datetime64[ns]
Age                        int64
Neighbourhood             object
Scholarship                int64
Hipertension               int64
Diabetes                   int64
Alcoholism                 int64
Handcap                    int64
SMS_received               int64
No-show                    int64
WeekDay                    int64
TimeDelta                  int64
dtype: object

In [7]:
neighbourhood_data_df.dtypes

Neighbourhood    object
 Income           int64
Lat,  Long       object
dtype: object

### Merge Tables

In [8]:
neighbourhood_data_df = neighbourhood_data_df.drop(neighbourhood_data_df.columns[2], axis=1)
neighbourhood_data_df.head()

         Neighbourhood   Income
0            AEROPORTO      600
1           ANDORINHAS      510
2      ANTONIO HONORIO      755
3  ARIOVALDO FAVALESSA      510
4       BARRO VERMELHO     2000

In [9]:
#neighbourhood_data_df to dictionary
neighbourhood_dict = neighbourhood_data_df.set_index('Neighbourhood').T.to_dict('list')
neighbourhood_dict

{'AEROPORTO': [600],
 'ANDORINHAS': [510],
 'ANTONIO HONORIO': [755],
 'ARIOVALDO FAVALESSA': [510],
 'BARRO VERMELHO': [2000],
 'BELA VISTA': [510],
 'BENTO FERREIRA': [1500],
 'BOA VISTA': [590],
 'BONFIM': [510],
 'CARATOIRA': [510],
 'CENTRO': [1000],
 'COMDUSA': [510],
 'CONQUISTA': [510],
 'CONSOLACAO': [510],
 'CRUZAMENTO': [510],
 'DA PENHA': [510],
 'DE LOURDES': [1000],
 'DO CABRAL': [510],
 'DO MOSCOSO': [510],
 'DO QUADRO': [510],
 'ENSEADA DO SUA': [2000],
 'ESTRELINHA': [510],
 'FONTE GRANDE': [510],
 'FORTE SAO JOAO': [510],
 'FRADINHOS': [1000],
 'GOIABEIRAS': [550],
 'GRANDE VITORIA': [510],
 'GURIGICA': [510],
 'HORTO': [510],
 'ILHA DAS CAIEIRAS': [510],
 'ILHA DE SANTA MARIA': [560],
 'ILHA DO BOI': [1500],
 'ILHA DO FRADE': [2500],
 'ILHA DO PRINCIPE': [510],
 'ILHAS DE TRINDADE': [510],
 'INHANGUETA': [510],
 'ITARARE': [510],
 'JABOUR': [1000],
 'JARDIM CAMBURI': [1500],
 'JARDIM DA PENHA': [1500],
 'JESUS DE NAZARETH': [510],
 'JOANA DARC': [510],
 'JUCUTUQUARA': [800],
 'MARIA ORTIZ': [510],
 'MARIO CYPRESTE': [510],
 'MARUIPE': [800],
 'MATA DA PRAIA': [2000],
 'MONTE BELO': [511],
 'MORADA DE CAMBURI': [1100],
 'NAZARETH': [850],
 'NOVA PALESTINA': [510],
 'PARQUE INDUSTRIAL': [405],
 'PARQUE MOSCOSO': [1005],
 'PIEDADE': [510],
 'PONTAL DE CAMBURI': [800],
 'PRAIA DO CANTO': [2000],
 'PRAIA DO SUA': [510],
 'REDENCAO': [510],
 'REPUBLICA': [900],
 'RESISTENCIA': [510],
 'ROMAO': [510],
 'SANTA CECILIA': [1000],
 'SANTA CLARA': [700],
 'SANTA HELENA': [2500],
 'SANTA LUCIA': [1500],
 'SANTA LUIZA': [1000],
 'SANTA MARTHA': [510],
 'SANTA TEREZA': [510],
 'SANTO ANDRE': [510],
 'SANTO ANTONIO': [510],
 'SANTOS DUMONT': [510],
 'SANTOS REIS': [510],
 'SAO BENEDITO': [440],
 'SAO CRISTOVAO': [510],
 'SAO JOSE': [510],
 'SAO': [510],
 'SEGURANCA DO LAR': [700],
 'SOLON BORGES': [700],
 'TABUAZEIRO': [510],
 'UNIVERSITARIO': [600],
 'VILA RUBIM': [510]}

In [10]:
def avg_income_return(key):
    if key in neighbourhood_dict.keys():
        return neighbourhood_dict[key][0]
    else:
        return 0
appointment_data_df['Avg_Neighbourhood_Income'] = appointment_data_df['Neighbourhood'].apply(avg_income_return)
appointment_data_df

,AppointmentID,PatientId,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,WeekDay,TimeDelta,Avg_Neighbourhood_Income
0,5642903,2.987250e+13,1,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,1,4,0,1500
1,5642503,5.589980e+14,0,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,1,4,0,1500
2,5642549,4.262960e+12,1,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,1,4,0,2000
3,5642828,8.679510e+11,1,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,1,4,0,800
4,5642494,8.841190e+12,1,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,1,4,0,1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,5651768,2.572130e+12,1,2016-05-03,2016-06-07,56,MARIA ORTIZ,0,0,0,0,1,0,1,1,35,510
110523,5650093,3.596270e+12,1,2016-05-03,2016-06-07,51,MARIA ORTIZ,0,0,0,0,1,0,1,1,35,510
110524,5630692,1.557660e+13,1,2016-04-27,2016-06-07,21,MARIA ORTIZ,0,0,0,0,1,0,1,1,41,510
110525,5630323,9.213490e+13,1,2016-04-27,2016-06-07,38,MARIA ORTIZ,0,0,0,0,1,0,1,1,41,510
110526,5629448,3.775120e+14,1,2016-04-27,2016-06-07,54,MARIA ORTIZ,0,0,0,0,1,0,1,1,41,510

### Datatype Changing

In [11]:
data_df = appointment_data_df

In [12]:
data_df['PatientId'] = data_df['PatientId'].astype('object')
data_df.dtypes

AppointmentID                        int64
PatientId                           object
Gender                               int64
ScheduledDay                datetime64[ns]
AppointmentDay              datetime64[ns]
Age                                  int64
Neighbourhood                       object
Scholarship                          int64
Hipertension                         int64
Diabetes                             int64
Alcoholism                           int64
Handcap                              int64
SMS_received                         int64
No-show                              int64
WeekDay                              int64
TimeDelta                            int64
Avg_Neighbourhood_Income             int64
dtype: object

In [13]:
data_df.head()

,AppointmentID,PatientId,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,WeekDay,TimeDelta,Avg_Neighbourhood_Income
0,5642903,2.98725e+13,1,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,1,4,0,1500
1,5642503,5.58998e+14,0,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,1,4,0,1500
2,5642549,4.26296e+12,1,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,1,4,0,2000
3,5642828,8.67951e+11,1,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,1,4,0,800
4,5642494,8.84119e+12,1,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,1,4,0,1500

### Dropping Columns

In [14]:
data_df = data_df.drop(['PatientId', 'AppointmentID', 'ScheduledDay', 'AppointmentDay', 'Neighbourhood'],axis=1)
data_df.head()

,Gender,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,WeekDay,TimeDelta,Avg_Neighbourhood_Income
0,1,62,0,1,0,0,0,0,1,4,0,1500
1,0,56,0,0,0,0,0,0,1,4,0,1500
2,1,62,0,0,0,0,0,0,1,4,0,2000
3,1,8,0,0,0,0,0,0,1,4,0,800
4,1,56,0,1,1,0,0,0,1,4,0,1500

In [15]:
data_df = data_df[data_df.Avg_Neighbourhood_Income != 0]
data_df.dropna()
data_df.head()

,Gender,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,WeekDay,TimeDelta,Avg_Neighbourhood_Income
0,1,62,0,1,0,0,0,0,1,4,0,1500
1,0,56,0,0,0,0,0,0,1,4,0,1500
2,1,62,0,0,0,0,0,0,1,4,0,2000
3,1,8,0,0,0,0,0,0,1,4,0,800
4,1,56,0,1,1,0,0,0,1,4,0,1500

## Model Set up

### Data Split

In [16]:
X_ng = data_df.drop(['No-show'], axis = 1)
y_ng = data_df["No-show"]

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X_ng, y_ng, test_size=0.33)

### Logistic Regression

In [35]:
classifier = LogisticRegression(solver='lbfgs',
   max_iter=200,
   random_state=1)
classifier.fit(X_train, y_train)
y_pred_log_reg = classifier.predict(X_test)

In [36]:
print(accuracy_score(y_test, y_pred_log_reg))
print(confusion_matrix(y_test, y_pred_log_reg))
print(classification_report_imbalanced(y_test, y_pred_log_reg))

0.7932823057728432
[[  111  7169]
 [  204 28183]]
                   pre       rec       spe        f1       geo       iba       sup

          0       0.35      0.02      0.99      0.03      0.12      0.01      7280
          1       0.80      0.99      0.02      0.88      0.12      0.02     28387

avg / total       0.71      0.79      0.21      0.71      0.12      0.02     35667

In [37]:
X_ng.head()

,Gender,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,WeekDay,TimeDelta,Avg_Neighbourhood_Income
0,1,62,0,1,0,0,0,0,4,0,1500
1,0,56,0,0,0,0,0,0,4,0,1500
2,1,62,0,0,0,0,0,0,4,0,2000
3,1,8,0,0,0,0,0,0,4,0,800
4,1,56,0,1,1,0,0,0,4,0,1500

In [38]:
importance = classifier.coef_[0]
head = X_ng.columns
for i,v in enumerate(importance):
	print('Feature: %s, Score: %.5f' % (head[i],v))

Feature: Gender, Score: -0.00710
Feature: Age, Score: 0.00693
Feature: Scholarship, Score: -0.18108
Feature: Hipertension, Score: 0.04345
Feature: Diabetes, Score: -0.06626
Feature: Alcoholism, Score: -0.02870
Feature: Handcap, Score: -0.36804
Feature: SMS_received, Score: 0.00989
Feature: WeekDay, Score: -0.01333
Feature: TimeDelta, Score: -0.02339
Feature: Avg_Neighbourhood_Income, Score: 0.00014

In [21]:
importance

array([-7.09838741e-03,  6.92741077e-03, -1.81078888e-01,  4.34504198e-02,
       -6.62622869e-02, -2.86960615e-02, -3.68041425e-01,  9.88568218e-03,
       -1.33342309e-02, -2.33891281e-02,  1.43708883e-04])

### Random Forest Regression

In [22]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train, y_train)

# Evaluate the model
y_pred_rf = rf_model.predict(X_test)

In [23]:
print(accuracy_score(y_test, y_pred_rf))
print(confusion_matrix(y_test, y_pred_rf))
print(classification_report_imbalanced(y_test, y_pred_rf))

0.7641236997785067
[[ 1607  5673]
 [ 2740 25647]]
                   pre       rec       spe        f1       geo       iba       sup

          0       0.37      0.22      0.90      0.28      0.45      0.19      7280
          1       0.82      0.90      0.22      0.86      0.45      0.21     28387

avg / total       0.73      0.76      0.36      0.74      0.45      0.21     35667

In [24]:
# List the features sorted in descending order by feature importance
# YOUR CODE HERE
importances = rf_model.feature_importances_
importances
sorted(zip(rf_model.feature_importances_, X_ng.columns), reverse=True)

[(0.40690681737139994, 'Age'),
 (0.35525637483494155, 'TimeDelta'),
 (0.08094878332873634, 'Avg_Neighbourhood_Income'),
 (0.07563480065984149, 'WeekDay'),
 (0.022980965222834007, 'Gender'),
 (0.01822384433578156, 'Handcap'),
 (0.010082821669953168, 'Hipertension'),
 (0.008306349979882973, 'Diabetes'),
 (0.008144891920319279, 'Scholarship'),
 (0.006956198119780898, 'SMS_received'),
 (0.0065581525565286776, 'Alcoholism')]

## Specifying Features

In [25]:
refined_data_df = data_df[['Age', "TimeDelta", "Avg_Neighbourhood_Income", "WeekDay", "Handcap", "No-show"]]
refined_data_df.head()

   Age  TimeDelta  Avg_Neighbourhood_Income  WeekDay  Handcap  No-show
0   62          0                      1500        4        0        1
1   56          0                      1500        4        0        1
2   62          0                      2000        4        0        1
3    8          0                       800        4        0        1
4   56          0                      1500        4        0        1

In [26]:
# Split Data
X_r = refined_data_df.drop(['No-show'], axis = 1)
y_r = refined_data_df["No-show"]
X_r_train, X_r_test, y_r_train, y_r_test = train_test_split(X_r, y_r, test_size=0.33)

In [27]:
# Logistic Regression
classifier = LogisticRegression(solver='lbfgs',
   max_iter=200,
   random_state=1)
classifier.fit(X_r_train, y_r_train)
y_r_pred_log_reg = classifier.predict(X_r_test)

In [28]:
print(accuracy_score(y_r_test, y_r_pred_log_reg))
print(confusion_matrix(y_r_test, y_r_pred_log_reg))
print(classification_report_imbalanced(y_r_test, y_r_pred_log_reg))

0.7945159391033728
[[   96  7127]
 [  202 28242]]
                   pre       rec       spe        f1       geo       iba       sup

          0       0.32      0.01      0.99      0.03      0.11      0.01      7223
          1       0.80      0.99      0.01      0.89      0.11      0.01     28444

avg / total       0.70      0.79      0.21      0.71      0.11      0.01     35667

In [29]:
importance = classifier.coef_[0]
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))

Feature: 0, Score: 0.00751
Feature: 1, Score: -0.02379
Feature: 2, Score: 0.00021
Feature: 3, Score: -0.01034
Feature: 4, Score: -0.37171

In [30]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_r_train, y_r_train)

# Evaluate the model
y_r_pred_rf = rf_model.predict(X_r_test)

In [31]:
print(accuracy_score(y_r_test, y_r_pred_rf))
print(confusion_matrix(y_r_test, y_r_pred_rf))
print(classification_report_imbalanced(y_r_test, y_r_pred_rf))

0.7634508088709452
[[ 1536  5687]
 [ 2750 25694]]
                   pre       rec       spe        f1       geo       iba       sup

          0       0.36      0.21      0.90      0.27      0.44      0.18      7223
          1       0.82      0.90      0.21      0.86      0.44      0.21     28444

avg / total       0.73      0.76      0.35      0.74      0.44      0.20     35667

In [32]:
# List the features sorted in descending order by feature importance
# YOUR CODE HERE
importances = rf_model.feature_importances_
importances
sorted(zip(rf_model.feature_importances_, X_r.columns), reverse=True)

[(0.4190549302473073, 'Age'),
 (0.403806083790335, 'TimeDelta'),
 (0.08702071972748752, 'Avg_Neighbourhood_Income'),
 (0.07032627630797095, 'WeekDay'),
 (0.019791989926899158, 'Handcap')]